In [1]:
import pandas as pd
from openpyxl import load_workbook

### **(ETL fase 01) - Extração de dados Tabela 278:**
O dataframe **tabela278.xlsx** apresenta muitas merged cells / células fundidas. Por essa razão a lib openxl será usada para construir novo dataframe a partir do original:

In [2]:
url = r'../../data/raw/ESTOQUES_TABELA_278/tabela278.xlsx'
df = pd.read_excel(url)

In [3]:
wb = load_workbook(url)
sheet = wb['Numero-de-estabelecimentos']

In [4]:
coluna_A = [ cell[0].value for cell in sheet['A7':'A199']]

In [5]:
coluna_A = pd.Series(coluna_A).dropna()
coluna_A.head(10)

0           Brasil
6            Norte
12        Nordeste
18         Sudeste
24             Sul
30    Centro-Oeste
36        Rondônia
42            Acre
48        Amazonas
54         Roraima
dtype: object

In [6]:
tipos_atv_estabelecimento = \
    [ cell[0].value for cell in sheet['B7':'B12']]
tiposAtvEstb = pd.Series(tipos_atv_estabelecimento)
tiposAtvEstb

0                             Total
1    Comércio (exceto supermercado)
2                      Supermercado
3                         Indústria
4            Serviço de armazenagem
5             Produção agropecuária
dtype: object

In [12]:
list(tiposAtvEstb)

['Total',
 'Comércio (exceto supermercado)',
 'Supermercado',
 'Indústria',
 'Serviço de armazenagem',
 'Produção agropecuária']

In [7]:
coluna_C = [ cell[0].value for cell in sheet['C7':'C199']]
pd.Series(coluna_C).head(6)

0    6273
1    1861
2     295
3    1897
4    1478
5     742
dtype: object

In [8]:
listaDividida = \
[coluna_C[i:i+6] for i in range(0, len(coluna_C), 6)]

In [9]:
listaDividida

[[6273, 1861, 295, 1897, 1478, 742],
 [268, 49, 21, 71, 112, 15],
 [661, 183, 37, 262, 96, 83],
 [1789, 429, 125, 669, 507, 59],
 [2606, 1083, 95, 705, 434, 289],
 [949, 117, 17, 190, 329, 296],
 [35, 2, 1, 18, 14, '-'],
 [24, '-', 8, 1, 15, '-'],
 [30, 16, 2, 8, 4, '-'],
 [7, '-', 1, 5, 1, '-'],
 [90, 26, 5, 30, 15, 14],
 [7, 3, 2, '-', 2, '-'],
 [75, 2, 2, 9, 61, 1],
 [53, 3, 1, 37, 11, 1],
 [104, 17, '-', 13, 14, 60],
 [137, 28, 6, 82, 16, 5],
 [19, 2, 1, 10, 6, '-'],
 [19, '-', '-', 13, 6, '-'],
 [45, 2, 3, 33, 3, 4],
 [38, 6, 1, 19, 12, '-'],
 [35, '-', 13, 20, 2, '-'],
 [211, 125, 12, 35, 26, 13],
 [676, 191, 25, 170, 260, 30],
 [121, 34, 4, 6, 75, 2],
 [99, 25, 26, 37, 11, '-'],
 [893, 179, 70, 456, 161, 27],
 [1014, 570, 36, 238, 138, 32],
 [429, 195, 14, 123, 81, 16],
 [1163, 318, 45, 344, 215, 241],
 [217, 50, 2, 21, 58, 86],
 [481, 28, 5, 90, 181, 177],
 [213, 25, 1, 71, 87, 29],
 [38]]

In [14]:
list(tiposAtvEstb)

['Total',
 'Comércio (exceto supermercado)',
 'Supermercado',
 'Indústria',
 'Serviço de armazenagem',
 'Produção agropecuária']

In [18]:
cabecalho = [
    'total',
    'comercio_exceto_supermercado',
    'supermercado',
    'industria',
    'servico_de_armazenagem',
    'producao_agropecuaria'
]
pd.DataFrame(
    listaDividida, 
    columns=cabecalho)

,total,comercio_exceto_supermercado,supermercado,industria,servico_de_armazenagem,producao_agropecuaria
0,6273,1861,295,1897,1478.0,742
1,268,49,21,71,112.0,15
2,661,183,37,262,96.0,83
3,1789,429,125,669,507.0,59
4,2606,1083,95,705,434.0,289
5,949,117,17,190,329.0,296
6,35,2,1,18,14.0,-
7,24,-,8,1,15.0,-
8,30,16,2,8,4.0,-
9,7,-,1,5,1.0,-
10,90,26,5,30,15.0,14
11,7,3,2,-,2.0,-
12,75,2,2,9,61.0,1
13,53,3,1,37,11.0,1
14,104,17,-,13,14.0,60
15,137,28,6,82,16.0,5
16,19,2,1,10,6.0,-
17,19,-,-,13,6.0,-
18,45,2,3,33,3.0,4
19,38,6,1,19,12.0,-
20,35,-,13,20,2.0,-
21,211,125,12,35,26.0,13
22,676,191,25,170,260.0,30
23,121,34,4,6,75.0,2
24,99,25,26,37,11.0,-
25,893,179,70,456,161.0,27
26,1014,570,36,238,138.0,32
27,429,195,14,123,81.0,16
28,1163,318,45,344,215.0,241
29,217,50,2,21,58.0,86
30,481,28,5,90,181.0,177
31,213,25,1,71,87.0,29
32,38,None,None,None,NaN,None