In [1]:
# NOTA PESSOAL: 
# (Ctrl + Home) leva a pessoa para cima do notebook.ipynb no VScode.                
# (Ctrl + End) leva a pessoa para o final / fundo do notebook.ipynb no VScode.

In [2]:
import pandas as pd
from openpyxl import load_workbook

### **(ETL fase Zero) - Extração de dados Tabela 278:**

In [3]:
url = r'../../data/raw/ESTOQUES_TABELA_278/tabela278.xlsx'
df = pd.read_excel(url)

### **(ETL fase 01) - Reorganizando cabeçalho da Tabela 278:**
O dataframe **tabela278.xlsx** apresenta muitas merged cells / células fundidas. Por essa razão a lib openxl será usada para construir novo dataframe a partir do original. Por enquanto, estou tirando informações das colunas originais e as realocando de maneira mais clara.

In [4]:
wb = load_workbook(url)
sheet = wb['Numero-de-estabelecimentos']

In [5]:
coluna_A = [ cell[0].value for cell in sheet['A7':'A199']]

In [6]:
coluna_A = pd.Series(coluna_A).dropna()
coluna_A.head(10)

0           Brasil
6            Norte
12        Nordeste
18         Sudeste
24             Sul
30    Centro-Oeste
36        Rondônia
42            Acre
48        Amazonas
54         Roraima
dtype: object

In [7]:
tipos_atv_estabelecimento = \
    [ cell[0].value for cell in sheet['B7':'B12']]
tiposAtvEstb = pd.Series(tipos_atv_estabelecimento)
tiposAtvEstb

0                             Total
1    Comércio (exceto supermercado)
2                      Supermercado
3                         Indústria
4            Serviço de armazenagem
5             Produção agropecuária
dtype: object

In [8]:
list(tiposAtvEstb)

['Total',
 'Comércio (exceto supermercado)',
 'Supermercado',
 'Indústria',
 'Serviço de armazenagem',
 'Produção agropecuária']

In [9]:
coluna_C = [ cell[0].value for cell in sheet['C7':'C199']]
pd.Series(coluna_C).head(12)

0     6273
1     1861
2      295
3     1897
4     1478
5      742
6      268
7       49
8       21
9       71
10     112
11      15
dtype: object

In [10]:
listaDividida = \
[coluna_C[i:i+6] for i in range(0, len(coluna_C), 6)]

In [11]:
listaDividida

[[6273, 1861, 295, 1897, 1478, 742],
 [268, 49, 21, 71, 112, 15],
 [661, 183, 37, 262, 96, 83],
 [1789, 429, 125, 669, 507, 59],
 [2606, 1083, 95, 705, 434, 289],
 [949, 117, 17, 190, 329, 296],
 [35, 2, 1, 18, 14, '-'],
 [24, '-', 8, 1, 15, '-'],
 [30, 16, 2, 8, 4, '-'],
 [7, '-', 1, 5, 1, '-'],
 [90, 26, 5, 30, 15, 14],
 [7, 3, 2, '-', 2, '-'],
 [75, 2, 2, 9, 61, 1],
 [53, 3, 1, 37, 11, 1],
 [104, 17, '-', 13, 14, 60],
 [137, 28, 6, 82, 16, 5],
 [19, 2, 1, 10, 6, '-'],
 [19, '-', '-', 13, 6, '-'],
 [45, 2, 3, 33, 3, 4],
 [38, 6, 1, 19, 12, '-'],
 [35, '-', 13, 20, 2, '-'],
 [211, 125, 12, 35, 26, 13],
 [676, 191, 25, 170, 260, 30],
 [121, 34, 4, 6, 75, 2],
 [99, 25, 26, 37, 11, '-'],
 [893, 179, 70, 456, 161, 27],
 [1014, 570, 36, 238, 138, 32],
 [429, 195, 14, 123, 81, 16],
 [1163, 318, 45, 344, 215, 241],
 [217, 50, 2, 21, 58, 86],
 [481, 28, 5, 90, 181, 177],
 [213, 25, 1, 71, 87, 29],
 [38]]

In [12]:
list(tiposAtvEstb)

['Total',
 'Comércio (exceto supermercado)',
 'Supermercado',
 'Indústria',
 'Serviço de armazenagem',
 'Produção agropecuária']

In [13]:
cabecalho = [
    'estabelecimentos_total',
    'comercio_exceto_supermercado_total',
    'supermercado_total',
    'industria_total',
    'servico_de_armazenagem_total',
    'producao_agropecuaria_total'
]
substitutos_coluna_C = pd.DataFrame(
    listaDividida, 
    columns=cabecalho)

In [14]:
substitutos_coluna_C.head(6)

,estabelecimentos_total,comercio_exceto_supermercado_total,supermercado_total,industria_total,servico_de_armazenagem_total,producao_agropecuaria_total
0,6273,1861,295,1897,1478.0,742
1,268,49,21,71,112.0,15
2,661,183,37,262,96.0,83
3,1789,429,125,669,507.0,59
4,2606,1083,95,705,434.0,289
5,949,117,17,190,329.0,296

In [15]:
substitutos_coluna_A = pd.DataFrame(list(coluna_A.unique()), columns=['unidade_federacao'])
substitutos_coluna_A.head()

  unidade_federacao
0            Brasil
1             Norte
2          Nordeste
3           Sudeste
4               Sul

In [16]:
substitutos_coluna_C.head()

,estabelecimentos_total,comercio_exceto_supermercado_total,supermercado_total,industria_total,servico_de_armazenagem_total,producao_agropecuaria_total
0,6273,1861,295,1897,1478.0,742
1,268,49,21,71,112.0,15
2,661,183,37,262,96.0,83
3,1789,429,125,669,507.0,59
4,2606,1083,95,705,434.0,289

In [17]:
novo_df = pd.concat([substitutos_coluna_A, substitutos_coluna_C], axis=1)
novo_df.head()

,unidade_federacao,estabelecimentos_total,comercio_exceto_supermercado_total,supermercado_total,industria_total,servico_de_armazenagem_total,producao_agropecuaria_total
0,Brasil,6273,1861,295,1897,1478.0,742
1,Norte,268,49,21,71,112.0,15
2,Nordeste,661,183,37,262,96.0,83
3,Sudeste,1789,429,125,669,507.0,59
4,Sul,2606,1083,95,705,434.0,289

In [18]:
coluna_D = [ cell[0].value for cell in sheet['D7':'D199']]

In [19]:
listaDividida = \
    [coluna_D[i:i+6] for i in range(0, len(coluna_D), 6)]

novo_df_2 = pd.DataFrame(listaDividida, columns=[
    'estabelecimentos_governo',
    'comercio_exceto_supermercado_governo',
    'supermercado_governo',
    'industria_governo',
    'servico_de_armazenagem_governo',
    'producao_agropecuaria_governo'])

In [20]:
novo_df_2.head(3)

,estabelecimentos_governo,comercio_exceto_supermercado_governo,supermercado_governo,industria_governo,servico_de_armazenagem_governo,producao_agropecuaria_governo
0,225,8,2,1,201,13
1,31,-,-,-,30,1
2,51,1,2,-,46,2

In [21]:
novo_df = pd.concat([novo_df, novo_df_2], axis=1)
novo_df.head(3)

,unidade_federacao,estabelecimentos_total,comercio_exceto_supermercado_total,supermercado_total,industria_total,servico_de_armazenagem_total,producao_agropecuaria_total,estabelecimentos_governo,comercio_exceto_supermercado_governo,supermercado_governo,industria_governo,servico_de_armazenagem_governo,producao_agropecuaria_governo
0,Brasil,6273,1861,295,1897,1478.0,742,225,8,2,1,201,13
1,Norte,268,49,21,71,112.0,15,31,-,-,-,30,1
2,Nordeste,661,183,37,262,96.0,83,51,1,2,-,46,2

In [22]:
coluna_E = [ cell[0].value for cell in sheet['E7':'E199']]

listaDividida = \
    [coluna_E[i:i+6] for i in range(0, len(coluna_E), 6)]

novo_df_3 = pd.DataFrame(listaDividida, columns=[
    'estabelecimentos_iniciativa_privada',
    'comercio_exceto_supermercado_iniciativa_privada',
    'supermercado_iniciativa_privada',
    'industria_iniciativa_privada',
    'servico_de_armazenagem_iniciativa_privada',
    'producao_agropecuaria_iniciativa_privada'])

In [23]:
novo_df = pd.concat([novo_df, novo_df_3], axis=1)

In [24]:
novo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 19 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   unidade_federacao                                33 non-null     object
 1   estabelecimentos_total                           33 non-null     int64
 2   comercio_exceto_supermercado_total               32 non-null     object
 3   supermercado_total                               32 non-null     object
 4   industria_total                                  32 non-null     object
 5   servico_de_armazenagem_total                     32 non-null     float64
 6   producao_agropecuaria_total                      32 non-null     object
 7   estabelecimentos_governo                         33 non-null     object
 8   comercio_exceto_supermercado_governo             32 non-null     object
 9   supermercado_governo                             32 non-null     object
 10  industria_governo                                32 non-null     object
 11  servico_de_armazenagem_governo                   32 non-null     object
 12  producao_agropecuaria_governo                    32 non-null     object
 13  estabelecimentos_iniciativa_privada              33 non-null     int64
 14  comercio_exceto_supermercado_iniciativa_privada  32 non-null     object
 15  supermercado_iniciativa_privada                  32 non-null     object
 16  industria_iniciativa_privada                     32 non-null     object
 17  servico_de_armazenagem_iniciativa_privada        32 non-null     object
 18  producao_agropecuaria_iniciativa_privada         32 non-null     object
dtypes: float64(1), int64(2), object(16)
memory usage: 5.0+ KB

In [25]:
novo_df.head()

,unidade_federacao,estabelecimentos_total,comercio_exceto_supermercado_total,supermercado_total,industria_total,servico_de_armazenagem_total,producao_agropecuaria_total,estabelecimentos_governo,comercio_exceto_supermercado_governo,supermercado_governo,industria_governo,servico_de_armazenagem_governo,producao_agropecuaria_governo,estabelecimentos_iniciativa_privada,comercio_exceto_supermercado_iniciativa_privada,supermercado_iniciativa_privada,industria_iniciativa_privada,servico_de_armazenagem_iniciativa_privada,producao_agropecuaria_iniciativa_privada
0,Brasil,6273,1861,295,1897,1478.0,742,225,8,2,1,201,13,4961,1254,274,1774,937,722
1,Norte,268,49,21,71,112.0,15,31,-,-,-,30,1,211,48,21,66,62,14
2,Nordeste,661,183,37,262,96.0,83,51,1,2,-,46,2,565,175,35,252,24,79
3,Sudeste,1789,429,125,669,507.0,59,80,4,-,1,70,5,1489,335,115,632,355,52
4,Sul,2606,1083,95,705,434.0,289,34,2,-,-,28,4,1842,593,86,641,238,284

In [26]:
lista_tiposArmazem = ['Armazéns Convencionais, estruturais e infláveis' for i in range(len(novo_df))]
lista_tiposArmazem = pd.DataFrame(lista_tiposArmazem, columns=['categoria_armazem'])

In [27]:
novo_df = pd.concat([novo_df, lista_tiposArmazem], axis=1)
novo_df.head(2)

,unidade_federacao,estabelecimentos_total,comercio_exceto_supermercado_total,supermercado_total,industria_total,servico_de_armazenagem_total,producao_agropecuaria_total,estabelecimentos_governo,comercio_exceto_supermercado_governo,supermercado_governo,industria_governo,servico_de_armazenagem_governo,producao_agropecuaria_governo,estabelecimentos_iniciativa_privada,comercio_exceto_supermercado_iniciativa_privada,supermercado_iniciativa_privada,industria_iniciativa_privada,servico_de_armazenagem_iniciativa_privada,producao_agropecuaria_iniciativa_privada,categoria_armazem
0,Brasil,6273,1861,295,1897,1478.0,742,225,8,2,1,201,13,4961,1254,274,1774,937,722,"Armazéns Convencionais, estruturais e infláveis"
1,Norte,268,49,21,71,112.0,15,31,-,-,-,30,1,211,48,21,66,62,14,"Armazéns Convencionais, estruturais e infláveis"

In [53]:
novo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 20 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   unidade_federacao                                33 non-null     object
 1   estabelecimentos_total                           33 non-null     int64
 2   comercio_exceto_supermercado_total               32 non-null     object
 3   supermercado_total                               32 non-null     object
 4   industria_total                                  32 non-null     object
 5   servico_de_armazenagem_total                     32 non-null     float64
 6   producao_agropecuaria_total                      32 non-null     object
 7   estabelecimentos_governo                         33 non-null     object
 8   comercio_exceto_supermercado_governo             32 non-null     object
 9   supermercado_governo                             32 non-null     object
 10  industria_governo                                32 non-null     object
 11  servico_de_armazenagem_governo                   32 non-null     object
 12  producao_agropecuaria_governo                    32 non-null     object
 13  estabelecimentos_iniciativa_privada              33 non-null     int64
 14  comercio_exceto_supermercado_iniciativa_privada  32 non-null     object
 15  supermercado_iniciativa_privada                  32 non-null     object
 16  industria_iniciativa_privada                     32 non-null     object
 17  servico_de_armazenagem_iniciativa_privada        32 non-null     object
 18  producao_agropecuaria_iniciativa_privada         32 non-null     object
 19  categoria_armazem                                33 non-null     object
dtypes: float64(1), int64(2), object(17)
memory usage: 5.3+ KB

#### **(ETL fase 01B) - Automatizando etapas repetitivas transformação cabeçalho:**

In [80]:
# =============================================
# Testando Automação Colunas C,D,e E 
# (Outras seguem padrão idêntico de automação):
# =============================================

print(listaDividida)

def getValores_Col(letraCol: str):
    coluna_escolhida = \
        [cell[0].value for cell in sheet[f'{letraCol}7':f'{letraCol}199']]
    return coluna_escolhida

def setListaDeListas(array: list):
    listaDividida = \
    [array[i:i+6] for i in range(0, len(array), 6)]
    return listaDividida

def turnIntoDf(
        listaDividida: list, 
        nomesColunas = ['C1','C2','C3','C4','C5','C6']):
    novo_df = pd.DataFrame(
        listaDividida, 
        columns=nomesColunas)
    return novo_df

# Essa função basicamente faz todas as três acima, porém de uma  só vez:
def reorganizeColumn(letraCol: str, cabecalho: list):
    arrayVls = getValores_Col(letraCol)
    listaDividida = setListaDeListas(arrayVls)
    return turnIntoDf(listaDividida, cabecalho)

def concatenarDfs(
        dfA: pd.DataFrame, 
        dfB: pd.DataFrame):
    return pd.concat(
        [dfA, dfB], axis=1)

def set_df_tipo_armazens(
        tipoArmazemTyped: str, 
        df_usado: pd.DataFrame):
    lista_tiposArmazem = [tipoArmazemTyped for i in range(len(df_usado))]
    return pd.DataFrame(
        lista_tiposArmazem, 
        columns=['categoria_armazem'])

# lista_tiposArmazem = ['Armazéns Convencionais, estruturais e infláveis' for i in range(len(novo_df))]
# lista_tiposArmazem = pd.DataFrame(lista_tiposArmazem, columns=['categoria_armazem'])

[[4961, 1254, 274, 1774, 937, 722], [211, 48, 21, 66, 62, 14], [565, 175, 35, 252, 24, 79], [1489, 335, 115, 632, 355, 52], [1842, 593, 86, 641, 238, 284], [854, 103, 17, 183, 258, 293], [25, 2, 1, 18, 4, '-'], [9, '-', 8, 1, '-', '-'], [27, 16, 2, 7, 2, '-'], [7, '-', 1, 5, 1, '-'], [74, 25, 5, 27, 4, 13], [5, 3, 2, '-', '-', '-'], [64, 2, 2, 8, 51, 1], [43, 3, 1, 37, 1, 1], [88, 16, '-', 12, 1, 59], [117, 28, 6, 76, 3, 4], [13, 2, 1, 10, '-', '-'], [12, '-', '-', 12, '-', '-'], [40, 1, 3, 33, 1, 2], [25, 6, 1, 18, '-', '-'], [33, '-', 13, 20, '-', '-'], [194, 119, 10, 34, 18, 13], [524, 127, 22, 159, 189, 27], [103, 30, 4, 6, 62, 1], [93, 21, 26, 37, 9, '-'], [769, 157, 63, 430, 95, 24], [656, 307, 35, 217, 67, 30], [282, 113, 10, 114, 31, 14], [904, 173, 41, 310, 140, 240], [185, 40, 2, 18, 40, 85], [455, 28, 5, 90, 155, 177], [179, 21, 1, 67, 63, 27], [35]]

In [30]:
# Testando funções acima escritas:
r = getValores_Col('C')
print(r)
l = setListaDeListas(r)
print(l)
turnIntoDf(l, ['A','B','C','D','E','F']).head()

[6273, 1861, 295, 1897, 1478, 742, 268, 49, 21, 71, 112, 15, 661, 183, 37, 262, 96, 83, 1789, 429, 125, 669, 507, 59, 2606, 1083, 95, 705, 434, 289, 949, 117, 17, 190, 329, 296, 35, 2, 1, 18, 14, '-', 24, '-', 8, 1, 15, '-', 30, 16, 2, 8, 4, '-', 7, '-', 1, 5, 1, '-', 90, 26, 5, 30, 15, 14, 7, 3, 2, '-', 2, '-', 75, 2, 2, 9, 61, 1, 53, 3, 1, 37, 11, 1, 104, 17, '-', 13, 14, 60, 137, 28, 6, 82, 16, 5, 19, 2, 1, 10, 6, '-', 19, '-', '-', 13, 6, '-', 45, 2, 3, 33, 3, 4, 38, 6, 1, 19, 12, '-', 35, '-', 13, 20, 2, '-', 211, 125, 12, 35, 26, 13, 676, 191, 25, 170, 260, 30, 121, 34, 4, 6, 75, 2, 99, 25, 26, 37, 11, '-', 893, 179, 70, 456, 161, 27, 1014, 570, 36, 238, 138, 32, 429, 195, 14, 123, 81, 16, 1163, 318, 45, 344, 215, 241, 217, 50, 2, 21, 58, 86, 481, 28, 5, 90, 181, 177, 213, 25, 1, 71, 87, 29, 38]
[[6273, 1861, 295, 1897, 1478, 742], [268, 49, 21, 71, 112, 15], [661, 183, 37, 262, 96, 83], [1789, 429, 125, 669, 507, 59], [2606, 1083, 95, 705, 434, 289], [949, 117, 17, 190, 329, 296], [35, 2, 1, 18, 14, '-'], [24, '-', 8, 1, 15, '-'], [30, 16, 2, 8, 4, '-'], [7, '-', 1, 5, 1, '-'], [90, 26, 5, 30, 15, 14], [7, 3, 2, '-', 2, '-'], [75, 2, 2, 9, 61, 1], [53, 3, 1, 37, 11, 1], [104, 17, '-', 13, 14, 60], [137, 28, 6, 82, 16, 5], [19, 2, 1, 10, 6, '-'], [19, '-', '-', 13, 6, '-'], [45, 2, 3, 33, 3, 4], [38, 6, 1, 19, 12, '-'], [35, '-', 13, 20, 2, '-'], [211, 125, 12, 35, 26, 13], [676, 191, 25, 170, 260, 30], [121, 34, 4, 6, 75, 2], [99, 25, 26, 37, 11, '-'], [893, 179, 70, 456, 161, 27], [1014, 570, 36, 238, 138, 32], [429, 195, 14, 123, 81, 16], [1163, 318, 45, 344, 215, 241], [217, 50, 2, 21, 58, 86], [481, 28, 5, 90, 181, 177], [213, 25, 1, 71, 87, 29], [38]]

      A     B    C     D       E    F
0  6273  1861  295  1897  1478.0  742
1   268    49   21    71   112.0   15
2   661   183   37   262    96.0   83
3  1789   429  125   669   507.0   59
4  2606  1083   95   705   434.0  289

In [31]:
# Testando funções novamente:
lista_ = [
    'estabelecimentos_total',
    'comercio_exceto_supermercado_total',
    'supermercado_total',
    'industria_total',
    'servico_de_armazenagem_total',
    'producao_agropecuaria_total'
]
turnIntoDf(l, lista_).head(3)

,estabelecimentos_total,comercio_exceto_supermercado_total,supermercado_total,industria_total,servico_de_armazenagem_total,producao_agropecuaria_total
0,6273,1861,295,1897,1478.0,742
1,268,49,21,71,112.0,15
2,661,183,37,262,96.0,83

In [32]:
# Testando funções novamente:
reorganizeColumn('C', cabecalho=lista_).head(3)

,estabelecimentos_total,comercio_exceto_supermercado_total,supermercado_total,industria_total,servico_de_armazenagem_total,producao_agropecuaria_total
0,6273,1861,295,1897,1478.0,742
1,268,49,21,71,112.0,15
2,661,183,37,262,96.0,83

In [58]:
# Refazendo todos os processos acima, porém automatizados:

# Lista com todos os tipos de armazens graneleiros 
# (governamentais, privados, mercados, industriais, etc):
tp_armazens_graneleiros = []

nm_colunas_A = [
    'estabelecimentos_',
    'comercio_exceto_supermercado_',
    'supermercado_',
    'industria_',
    'servico_de_armazenagem_',
    'producao_agropecuaria_'
]

nm_colunas_B = [
    'total',
    'governo',
    'iniciativa_privada'
]

for idx in nm_colunas_B:
    for idx_j in nm_colunas_A:
        tp_armazens_graneleiros\
        .append(f'{idx_j}{idx}')

pd.DataFrame(tp_armazens_graneleiros, 
    columns=['categoria_estabelecimentos_armazenagem'])

             categoria_estabelecimentos_armazenagem
0                            estabelecimentos_total
1                comercio_exceto_supermercado_total
2                                supermercado_total
3                                   industria_total
4                      servico_de_armazenagem_total
5                       producao_agropecuaria_total
6                          estabelecimentos_governo
7              comercio_exceto_supermercado_governo
8                              supermercado_governo
9                                 industria_governo
10                   servico_de_armazenagem_governo
11                    producao_agropecuaria_governo
12              estabelecimentos_iniciativa_privada
13  comercio_exceto_supermercado_iniciativa_privada
14                  supermercado_iniciativa_privada
15                     industria_iniciativa_privada
16        servico_de_armazenagem_iniciativa_privada
17         producao_agropecuaria_iniciativa_privada

In [59]:
tp_armazens_graneleiros[0:6]

['estabelecimentos_total',
 'comercio_exceto_supermercado_total',
 'supermercado_total',
 'industria_total',
 'servico_de_armazenagem_total',
 'producao_agropecuaria_total']

In [74]:
armazens_totais = reorganizeColumn('C', 
    cabecalho=tp_armazens_graneleiros[0:6])

armazens_governo = reorganizeColumn('D', 
    cabecalho=tp_armazens_graneleiros[6:12])

armagens_privados = reorganizeColumn('E', 
    cabecalho=tp_armazens_graneleiros[12:18])

In [70]:
armazens_totais.head(1)

,estabelecimentos_total,comercio_exceto_supermercado_total,supermercado_total,industria_total,servico_de_armazenagem_total,producao_agropecuaria_total
0,6273,1861,295,1897,1478.0,742

In [71]:
armazens_governo.head(1)

,estabelecimentos_governo,comercio_exceto_supermercado_governo,supermercado_governo,industria_governo,servico_de_armazenagem_governo,producao_agropecuaria_governo
0,225,8,2,1,201,13

In [72]:
armagens_privados.head(1)

,estabelecimentos_iniciativa_privada,comercio_exceto_supermercado_iniciativa_privada,supermercado_iniciativa_privada,industria_iniciativa_privada,servico_de_armazenagem_iniciativa_privada,producao_agropecuaria_iniciativa_privada
0,4961,1254,274,1774,937,722

In [81]:
def merge_total_governo_privado_tpArmazem(
        dfA: pd.DataFrame, 
        dfB: pd.DataFrame, 
        dfC: pd.DataFrame,
        tp_armazens_typed: str,
        df_base: pd.DataFrame):
    join1 = concatenarDfs(dfA, dfB)
    join2 = concatenarDfs(join1, dfC)
    df_ctg_armazens = set_df_tipo_armazens(tp_armazens_typed, df_base)
    join3 = concatenarDfs(join2, df_ctg_armazens)
    return join3

In [83]:
merge_total_governo_privado_tpArmazem(
    armazens_totais,
    armazens_governo,
    armagens_privados,
    'Armazéns Convencionais, estruturais e infláveis',
    novo_df)\
        .head(3)

,estabelecimentos_total,comercio_exceto_supermercado_total,supermercado_total,industria_total,servico_de_armazenagem_total,producao_agropecuaria_total,estabelecimentos_governo,comercio_exceto_supermercado_governo,supermercado_governo,industria_governo,servico_de_armazenagem_governo,producao_agropecuaria_governo,estabelecimentos_iniciativa_privada,comercio_exceto_supermercado_iniciativa_privada,supermercado_iniciativa_privada,industria_iniciativa_privada,servico_de_armazenagem_iniciativa_privada,producao_agropecuaria_iniciativa_privada,categoria_armazem
0,6273,1861,295,1897,1478.0,742,225,8,2,1,201,13,4961,1254,274,1774,937,722,"Armazéns Convencionais, estruturais e infláveis"
1,268,49,21,71,112.0,15,31,-,-,-,30,1,211,48,21,66,62,14,"Armazéns Convencionais, estruturais e infláveis"
2,661,183,37,262,96.0,83,51,1,2,-,46,2,565,175,35,252,24,79,"Armazéns Convencionais, estruturais e infláveis"