#### **(ETL fase 02) - Ajustando tipos de dados mais detalhes adicionais:**

In [98]:
import pandas as pd
from openpyxl import load_workbook

In [99]:
url = r'../../../data/raw/ESTOQUES_TABELA_278/tabela278.xlsx'
df = pd.read_excel(url)

In [100]:
wb = load_workbook(url)
sheet = wb['Numero-de-estabelecimentos']

In [101]:
# A coluna "A" deve ir de [A7:A199] pois
# os nomes das unidades federais estão em merged cells:
 
coluna_A = [ cell[0].value for cell in sheet['A7':'A199']]
coluna_A = pd.Series(coluna_A).dropna()
valores_unicos_colunaA = list(coluna_A.unique())

In [102]:
valores_unicos_colunaA[0:10] # São 33 unidades federais no total.

['Brasil',
 'Norte',
 'Nordeste',
 'Sudeste',
 'Sul',
 'Centro-Oeste',
 'Rondônia',
 'Acre',
 'Amazonas',
 'Roraima']

In [103]:
url_2 = r'./../../../data/interim/tabela278_semiprocessado.xlsx'
df_2 = pd.read_excel(url_2)

In [104]:
comprimento_df2 = len(df_2)

In [105]:
import numpy as np

nomes_repetidos = np.tile(
    valores_unicos_colunaA, 
    int(np.ceil(comprimento_df2/len(valores_unicos_colunaA))))[:comprimento_df2]

In [106]:
nomes_repetidos = list(nomes_repetidos)
df_nomes_unidades_federais = pd.DataFrame(nomes_repetidos, columns=['unidade_federativa'])
df_nomes_unidades_federais

      unidade_federativa
0                 Brasil
1                  Norte
2               Nordeste
3                Sudeste
4                    Sul
...                  ...
3460   Rio Grande do Sul
3461  Mato Grosso do Sul
3462         Mato Grosso
3463               Goiás
3464    Distrito Federal

[3465 rows x 1 columns]

##### **(ETL fase 02A) - Adicionando o nome das respectivas unidades federais:**
Dataframe mais completo, contendo o nome das respectivas unidades federais:

In [108]:
df_3 = pd.concat([df_nomes_unidades_federais, df_2], axis=1)

In [109]:
df_3.head(3)

,unidade_federativa,estabelecimentos_total,comercio_exceto_supermercado_total,supermercado_total,industria_total,servico_de_armazenagem_total,producao_agropecuaria_total,estabelecimentos_governo,comercio_exceto_supermercado_governo,supermercado_governo,...,servico_de_armazenagem_governo,producao_agropecuaria_governo,estabelecimentos_iniciativa_privada,comercio_exceto_supermercado_iniciativa_privada,supermercado_iniciativa_privada,industria_iniciativa_privada,servico_de_armazenagem_iniciativa_privada,producao_agropecuaria_iniciativa_privada,categoria_armazem,dt_registro
0,Brasil,6273,1861,295,1897,1478,742,225,8,2,...,201,13,4961,1254,274,1774,937,722,"Armazéns convencionais, estruturais e infláveis",2º semestre 2007
1,Norte,268,49,21,71,112,15,31,-,-,...,30,1,211,48,21,66,62,14,"Armazéns convencionais, estruturais e infláveis",2º semestre 2007
2,Nordeste,661,183,37,262,96,83,51,1,2,...,46,2,565,175,35,252,24,79,"Armazéns convencionais, estruturais e infláveis",2º semestre 2007